@import "../../styles/variables";

.message {
  $self: &;
  //   display: flex;
  // max-width: 440px;
  //   margin-bottom: 15px;
  display: flex;
  align-items: flex-end;

  //   &__info {
  //   display: flex;
  //   }

  &__typing {
    display: block;
    width: 60px;
    height: 40px;
    background-color: $message-typing-blue;
    margin-left: 20px;
    border-radius: 12px 12px 0px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__checked {
    width: 15px;
    height: 15px;
    margin-bottom: 14px;
  }
  &__sended {
    width: 20px;
    height: 20px;
    margin-bottom: 14px;
    object-fit: cover;
  }

  &__content {
    display: flex;
    max-width: 440px;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
  }

  &__attachments {
    display: flex;
    margin-bottom: 5px;
    &-item {
      img {
        width: 45px;
        height: 45px;
        border-radius: 8px;
      }
    }
    //   img {
    // 	  height: 50px;
    // 	  width: 50px;
    //   }
  }

  &__avatar {
    display: flex;
    flex-direction: column-reverse;
    img {
      width: 33px;
      height: 33px;
      border-radius: 50px;
      margin-right: 13px;
      margin-bottom: 23px;
      object-fit: cover;
    }
  }
  &__bubble {
    background: $blue;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
    border-radius: 12px 12px 12px 0px;
    padding: 15px;
    margin-bottom: 8px;
  }

  &__date {
    font-size: 12px;
    opacity: 0.5;
  }

  &__text {
    color: #fff;
    line-height: 20px;
  }

  &--image {
    #{$self}__attachments {
      &-item {
        img {
          width: 150px;
          height: 150px;
          object-fit: cover;
        }
      }
    }
  }

  &--isme {
    display: flex;
    flex-direction: row-reverse;

    #{$self}__content {
      margin-bottom: 15px;
      flex-direction: row-reverse;
    }

    #{$self}__avatar {
      img {
        margin-right: 0;
        margin-left: 13px;
      }
    }

    #{$self}__info {
      text-align: right;
    }

    #{$self}__bubble {
      background: #fff;
      border: 1px solid #ececec;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
      border-radius: 12px 12px 0px 12px;
      #{$self}__text {
        color: $black;
      }
    }
  }
}

.circle {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: $message-typing-circle;
  margin: 3px;
}
.circle.scaling {
  animation: typing 1000ms ease-in-out infinite;
  animation-delay: 3600ms;
}
.circle.bouncing {
  animation: bounce 1000ms ease-in-out infinite;
  animation-delay: 3600ms;
}

.circle:nth-child(1) {
  animation-delay: 0ms;
}

.circle:nth-child(2) {
  animation-delay: 333ms;
}

.circle:nth-child(3) {
  animation-delay: 666ms;
}

@keyframes typing {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
